body{
background:#0b0b0b;
color:white;
text-align:center;
font-family:Arial;
}

.logo{
width:140px;
margin-top:20px;
}

button{
margin:10px;
padding:18px;
font-size:18px;
border-radius:14px;
background:#1c1c1c;
color:white;
border:none;
width:80%;
}

#aparatos button{
width:45%;
font-size:16px;
}

.rutina{
margin:20px;
text-align:left;
}

.linea{
background:#1a1a1a;
margin:8px;
padding:10px;
border-radius:10px;
}

.nota{
background:#00aa55;
margin:12px;
padding:15px;
border-radius:12px;
font-size:20px;
font-weight:bold;
text-align:center;
}
